name: GitHub activity
on:
  workflow_dispatch:
  schedule:
    # Runs at 00:00 UTC
    - cron: "0 0 * * *"
jobs:
  update-readme:
    name: GitHub Activity
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: jamesgeorge007/github-activity-readme@7028164baaaf6eb83ff9e846f91cbc3add58aa09 # v0.4.6
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
