name: PushGitlab

on:
  workflow_dispatch:
  schedule:
    # Runs at 08:30 UTC
    - cron: "30 8 * * *"

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: Mirror to GitLab
        env:
          INPUT_SSH_PRIVATE_KEY: ${{ secrets.SSH_KEY }}
        run: |
          set -eu
          mkdir -p ~/.ssh
          echo "$INPUT_SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          export GIT_SSH_COMMAND="ssh -v -i ~/.ssh/id_rsa -o StrictHostKeyChecking=no -l git"

          git remote add mirror "git@gitlab.com:alvinjoy/alvinjoy.git"
          git push --force --prune mirror --all
          git push --force mirror --tags
          git remote remove mirror
